<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Registrar Producto</h1>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" />
          </div>
          <div class="form-group col-md-6">
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="nombre">Proveedor</label>
              <select id="proveedor" name="proveedor" class="form-control">
                <option value="Zonacel">Zonacel S.A</option>
                <option value="Importaciones">Importaciones</option>
                <option value="Comercio Interno">Comercio Interno</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="nombre">Almacen</label>
              <select id="almacen" name="Almacen" class="form-control">
                <option value="Zonacel">Zonacel S.A</option>
                <option value="Importaciones">Importaciones</option>
                <option value="Comercio Interno">Comercio Interno</option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between col-md-6 offset-md-3">
          <button type="submit" class="btn btn-success">Limpiar</button>
          <button type="submit" class="btn btn-success">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>